/* Global Styles */

* {
    box-sizing: border-box;
}

body{
    margin: 0px;
    background-color: white;
    font-family: 'Roboto', sans-serif;
    display: flex;
    flex-direction: column;
    flex: 1 auto;
    height: 100%;
    align-items: center;
}



/* Component Styles */

button{
    background-color: #3882F6;
    border-radius: 5px;
    transition: 0.1s;
    color: white;
    font-weight: bold;
    padding: 5px 20px;
}

header button {
    border: 1px solid #3882F6;
}

div.call-to-action button {
    border: 1px solid white;
}

button:hover{
    transition: 0.1s;
    background: white;
    color: #3882F6;
}